<li>
    <!-- //the ngif statements are all part of the prop of the small component! -->
    <div id="title">{{article.title}}</div>
    <!-- //ngif is for hiding buttons! the events will trigger the switch in the prop!  -->
    <button *ngIf="showReadMoreBtn" (click)="readMore()">Read More</button>
    <button *ngIf="showHideBtn" (click)="hideDesc()">Hide Desc</button>

    <button (click)="toggleImage()">{{imageButtonTitle}}</button>

    <div class="desc" *ngIf="articleDescLen > 0">{{descToShow}}</div>
    
    <img *ngIf="imageIsShown" src="{{article.imageUrl}}" alt="article image" />
</li>
